* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  scroll-behavior: smooth;
}

/*altera headrer onde esta o logo*/
.BoxHeader {
  background-color: #033800;  
  width: 1440px;
  height: 135px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

header {
display: flex;
flex-direction: column;
position: fixed;
align-items: center;
z-index: 3;
width: 100%;
top: 0;
}

.headerNav {
  display: flex;
  align-items: center;
  gap: 20px;
  transform: translate(200px);

}

a {
  text-decoration: none;
  color: #fefeff;
}

.headerTitle {
  color: #fefeff;
}

/*Imagem do logo*/
.headerImage {
  width: 100px;
  height: 100px;
  transform: translate(-270px);

}

.headerContent {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*altera a barra de navegação*/
nav {
  width: 1440px;
  height: 57px;
  border-radius: 15px;
  background-color: #B7CFAB;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Altera a cor do texto do Nav*/
nav>a {
  color: #fefeff;
  font-family: Poppins;
}

/*Barra onde esta o Eventos*/
.destaque {
  background-color: #033800;
  padding: 30px;
  font-family: Poppins;
  border-radius: 60px;
  width: 1380px;
  margin: 232px;
  
}

/* O text escrito Eventos*/
.destaque h2 {
  color: #fffefe;
  font-size: 30px;
}


#destaque {
margin-top: 1000px;
}

/*Barra onde esta o campos*/
.campos {
  background-color: #033800;
  padding: 30px;
  font-family: Poppins;
  border-radius: 60px;
  transform: translateY(-80px);
  width: 1380px;
  margin: 232px;
  margin-top: 0;
}

/* O text escrito Campo*/
.campos h2 {
  color: #fff;
  font-size: 30px;
}

/*Barra onde esta o Resenha*/
.Hta {
  background-color: #033800;
  padding: 30px;
  font-family: Poppins;
  border-radius: 60px;
  transform: translateY(-680px);
  width: 1380px;
  margin: 232px;
  margin-top: 0;

}

/* O text escrito Resenha*/
.Hta h2 {
  color: #fffefe;
  font-size: 30px;
}

/*Barra onde esta o Times*/
.tm {
  background-color: #033800;
  padding: 30px;
  font-family: Poppins;
  border-radius: 60px;
  transform: translateY(-460px);
  width: 1380px;
  margin: 232px;
  margin-top: 0;

}

/* O text escrito time*/
.tm h2 {
  color: #fffefe;
  font-size: 30px;
}

/*fundo verde do site*/
.Evs {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(107, 142, 40);
  box-shadow: 0 0 30px;
  border-radius: 60px;
  height: auto;
  padding: 30px;  
  width: 1380px;
  margin: 232px;
  margin-top: -150px;
}

/*espaçamento e tamanho da img*/
.Ev {
  width: 285px;
  margin: 25px;
  height: 400px;

}

/*alinha a igm ao centro*/
.Ev img {
  width: 300px;
  height: 200px;
  display: block;
  margin: auto;
  border-radius: 15px;

}

/*texto em h3 titulo*/
.Ev h3 {
  font-size: 24px;
  margin-top: 50px;
  align-items: center;
  text-align: center;
}

/*Paragrafo abaixo do titulo*/
.Ev p {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;

}

/*fundo verde galeria embaixo de campo*/
.Cmps {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(107, 142, 40);
  box-shadow: 0 0 30px;
  border-radius: 60px;
  height: auto;
  padding: 30px;
  transform: translateY(-350px);  
  margin-top: 0;
  width: 1380px;
  margin: 232px;
}

/*espaçamento e tamanho da img*/
.Cmp {
  width: 285px;
  margin: 25px;
  height: 400px;

}

/*alinha a igm ao centro*/
.Cmp img {
  width: 300px;
  height: 200px;
  display: block;
  margin: auto;
  border-radius: 15px;

}

/*texto em h3 titulo*/
.Cmp h3 {
  font-size: 24px;
  margin-top: 50px;
  align-items: center;
  text-align: center;
}

/*Paragrafo abaixo do titulo*/
.Cmp p {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;

}

/*fundo verde time embaixo de time*/
.times {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(107, 142, 40);
  box-shadow: 0 0 30px;
  border-radius: 60px;
  height: auto;
  padding: 30px;
  transform: translateY(-570px); 
  margin-top: 0;
  width: 1380px;
  margin: 232px;

}

/*espaçamento e tamanho da img*/
.time {
  width: 285px;
  margin: 25px;
  height: 400px;

}

/*alinha a igm ao centro*/
.time img {
  width: 300px;
  height: 200px;
  display: block;
  margin: auto;
  border-radius: 15px;

}

/*texto em h3 titulo*/
.time h3 {
  font-size: 24px;
  margin-top: 50px;
  align-items: center;
  text-align: center;

}

/*Paragrafo abaixo do titulo*/
.time p {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;

}

/*fundo verde garotos embaixo de garotos*/
.Resenhas {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(107, 142, 40);
  box-shadow: 0 0 30px;
  border-radius: 60px;
  height: 1252px;
  padding: 30px;
  transform: translateY(-790px); 
  margin-top: 0;
  width: 1380px;
  margin: 232px;

}

/*espaçamento e tamanho da img*/
.Resenha {
  width: 285px;
  margin: 25px;
  height: 400px;

}

/*alinha a igm ao centro*/
.Resenha img {
  width: 300px;
  height: 200px;
  display: block;
  margin: auto;
  border-radius: 15px;
}

/*texto em h3 titulo*/
.Resenha h3 {
  font-size: 24px;
  margin-top: 50px;
  align-items: center;
  text-align: center;
}

/*Paragrafo abaixo do titulo*/
.Resenha p {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

/* Estilizando o footer pag fundo */
footer {
  border-radius: 0px 0px 60px 60px;
  background: #033800;
  height: 300px;
  padding: 40px;
  display: block;  
  margin-top: 0px;
  transform: translateY(-1400px);
  width: 1360px;
  margin: 232px;  
  z-index: 4;
  position: absolute;
  

}

html,
body {
  height: 100%;
  background-color: #E0E9DB;
}

.Empresas {
  transform: translate(-270px);

}

/*Img Logo footer*/
.Empresa img {
  width: 100px;
  height: 100px;
  transform: translate(450px);
  margin-bottom: -214px;
  display: block;
  position: relative;
  bottom: -50px;
}

/*Paragrafo*/
.Empresa p {
  width: 400px;
  color: #fefeff;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  margin-top: 220px;
  transform: translate(360px);
  display: block;
  position: relative;
  bottom: -50px;

}

/*Texto em h4 no footer WebSites*/

.SiteNav h4 {
  display: flex;
  color: #fefeff;
  font-size: 18px;
  font-family: Poppins;
  align-items: center;
  margin-left: 922px;
  margin-top: -130px;
  margin-bottom: 11px;
  display: block;

}

/*Texto do Paragrafo WebSites*/
.SiteNav a {
  display: flex;
  margin-left: 922px;
  color: #fefeff;
  font-family: Poppins;
  margin-bottom: 11px;
  font-size: 12px;
  display: block;
}

/*Altera texto Redes Sociais Icones*/
.MidiaSociais h4 {
  color: #fefeff;
  font-family: Poppins;
  font-size: 18px;
  width: 140px;
  height: 100px;
  transform: translate(1300px);
  margin-top: -190px;
  margin-bottom: 16px;
  display: block;
}

/*Icone rede Sociais*/
.MidiaSociais li {
  width: 100px;
  height: 30px;
  transform: translate(1300px);
  margin-top: -86px;
  gap: 11px;
  display: flex;
}

/*Todos os Direitos*/
.Copy,
hr {
  width: 1000px;
  color: #fefeff;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  margin: 160px;
  margin-bottom: -150px;
  transform: translate(240px);
  display: block;
}









.Flip-Card {
background-color: transparent;
width: 300px;
height: 400px;
perspective: 1000px;
margin-top: 350px;
display: inline-block;
margin-right: 25px;






}

.Flip-Card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
color: aqua;
}

.Flip-Card:hover .Flip-Card-inner {
  transform: rotateY(-180deg);
 
}


.Flip-Card-Front, .Flip-Card-Back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden; /*Vai Ocultar a parte de trás do Card*/
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border-radius: 14px;
background-color: #121212;

}

.Flip-Card-Back {
  transform: rotateY(180deg);
  color: aqua;
 
 

}


.Flip-Card-Card img{

width: 100%;
height: 100%;



}


.Box-Cards { 
/* background-color: aquamarine; */
flex-direction: ;
display: flex;
justify-content: center;




}







/*
section {
  width: auto;
  height: 500px;
/*
  background-color: #ce1111;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 124px;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 26px;
}

.heroContent>button {
  width: 372px;
  height: 61px;
  background-color: #4ecbf2;

  border-radius: 15px;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
  color: white;

  border: none;
}

.heroText>h2 {
  width: 457px;

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heroText>p {
  width: 471px;

  font-size: 36px;
  font-style: normal;
  font-weight: 248;
  line-height: normal;
  text-transform: lowercase;
}

section>img {
  width: 440px;
  height: 360px;
}
/*








   