
/* Deixar a Galeria centralizada*/
.galeria {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}
/* Modifica o tamanho e Largura da Img*/
.galeria img {
  width: 500px;
  height: auto;
  margin: 30px;
  
}


/*Barra onde esta o destaque*/
.destaque {
  background-color: #e4e4e75b;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
}
/* O text escrito Destaque*/
.destaque h2 {
  color: #353434;
  font-size: 30px;
}

