@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", system-ui;
  scroll-behavior: smooth;
  box-sizing: border-box;

}

html {
  scroll-snap-type: y mandatory;

}

body {
  display: block;
  margin: 0;
  background: linear-gradient(#eceffe, #ced6fb);
  color: #fff;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

header {
  background-color: #006400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;

}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  border-radius: 8px;
  background-color: #d2cfcf;

}

.hamburger span {
  height: 2px;
  width: 30px;
  background: #65a30d;
  margin: 4px 0;
  transition: 0.4s;
}

.hamburger span:hover {
  color: aqua;

}

.nav-menu {
  display: flex;
}

.nav-menu ul {
  position: relative;
  display: flex;
  list-style: none;
  padding: 0;
  right: 200px;
}

.nav-menu ul li {
  margin: 0 10px;
  font-size: 20px;
  font-weight: 700;
}

.nav-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-menu ul li a:hover {

  color: aqua;
  filter: drop-shadow(5px 15px 15px);

}

/*Imagem do logo*/
.logo {
  width: 12%;
  height: 10%;
  display: block;
  position: relative;
  left: 10%;
  border: none;
  top: 0;

}

.logo:hover {
  filter: drop-shadow(0 0 25px aqua);

}

/*Video em destaque*/
video {
  width: 100%;
  height: 100%;
  margin-top: 1px;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  filter: brightness(60%);

}

/*Altera o Carousel */
.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 10px;
  overflow: hidden;
  margin-bottom: 20px;

}

.card-list .card-item {
  list-style: none;

}

.card-list .card-item .card-link {
  user-select: none;
  display: block;
  background: #211e1e;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;

}

.card-list .card-item .card-link:active {
  cursor: grabbing;

}

.card-list .card-item .card-link:hover {
  border-color: #5372f0;

}

.card-list .card-link .card-img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;

}

.card-list .card-link .badge {
  color: #5372f0;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #2f2f30;
  width: fit-content;
  border-radius: 50px;

}

.card-list .card-link .badge.footballone {
  color: #006400;
  background: #f7dff5;

}

.card-list .card-link .badge.footballone.bola {

  color: aqua;
  background: #552d55;
}

.card-list .card-link .badge.chute {
  color: aqua;
  background: #552d55;

}

.card-list .card-link .badge.trave {

  color: #006400;
  background: #f7dff5;

}

.card-list .card-link .card-title {
  font-size: 1.19rem;
  color: #eceffe;
  font-weight: 600;

}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #5372f0;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 2px solid #5372f0;
  transform: rotate(-45deg);
  transition: 0.4s ease;

}

.card-list .card-link:hover .card-button {
  color: #fff;
  background: #5372f0;

}

/*Bolinhas do Carosel*/
.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #5372f0;
  position: relative;

}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;

}

/*setas do carosel*/
.card-wrapper .swiper-slide-button {
  color: #5372f0;
  margin-top: -35px;

}



/*seta do quadro abaixo do video*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/*Notícias*/

.linha-secao {
  display: flex;
  align-items: center;
}

.linha-secao::after {
  content: "";
  flex-grow: 1;
  height: 3px;
  background-color: #006400;
  margin-right: 50%;
  left: 27.5rem;
  position: relative;
  top: 10rem;
}

.linha-secao span {
  font-weight: 900;
  font-size: 4rem;
  top: 10rem;
  left: 27rem;
  position: relative;
  filter: drop-shadow(0 0 2px #006400);

}

/*garia img abaixo do noticias*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 12rem;
}

.gallery-item {
  /* position: relative; */
  width: 200px;
  cursor: pointer;
  margin: 30px;
  text-align: justify;

}

.gallery-item img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s;

}

.gallery-item img:hover {
  transform: scale(1.05);

}

.tdsh {
  font-size: 20px;
  font-weight: 300px;
  white-space: pre-line;
  font-family: "roboto", serif;
  margin-left: -1px;
  cursor: pointer;
  color: #5372f0;
  position: relative;
  top: 10px;
  text-align: center;

}

.tdsh:hover {

  color: #224df6;
}

hr {
  width: 50%;
  height: 2px;
  margin: 0 auto;
  position: relative;
  top: 5rem;
  opacity: 0.4;

}

/* Estilos do modal */
#myModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);

}

.modal-content {
  background-color: #151313;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  text-align: center;

}

#modal-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;

}

#modal-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #5372f0;
  color: white;
  border-radius: 5px;
  text-decoration: none;

}

#modal-link:hover {
  background-color: #224df6;

}

.fecha-modal {
  font-size: 28px;
  float: right;
  color: #aaa;
  font-weight: bold;

}

.fecha-modal:hover,
.fecha-modal :focus {
  color: black;
  text-decoration: none;
  cursor: pointer;

}

/* Modal Photos*/
.modal-photo {
  display: none;
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content-photo {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

.close-photo {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

#captionPhoto {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;

}

#additionalText {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

/*Galeria foto Campos*/

.gallery-photo .thumbnail {
  --rotate: rotate(-45deg);
  transform: var(--rotate);
  Transition: 3s ease;
  width: 12%;
  border-radius: 2rem;
  position: relative;
  left: 16%;
  top: -1rem;
  margin-top: 18rem;
  margin-left: 5rem;
  display: inline-block;
  cursor: pointer;
}

.gallery-photo .thumbnail:hover {
  transform: var(--rotate) scale(1.1);

}


.gallery-photo .thumbnail {
  animation: clickAnimation 1s ease;
  z-index: 1;

}

.gallery-photo .thumbnail {
  animation: close 1.5s ease forwards;

}

/*Carrosel Videos*/

.carousel {
  width: 80%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 15rem;
  align-items: center;
  left: 12rem;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #282222;
  text-align: center;

}

.video-title {
  font-weight: bold;
  margin: 10px 0;
  color: #5372f0;
  font-family: "Inter", system-ui;

}

.video-description {
  margin: 10px 0;
  color: #5372f0;
  font-weight: 700;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.control-button {
  background-color: #5372f0;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

iframe {
  border-radius: 10px;
}

/*Footer*/

.cidademain {
  display: flex;
  position: relative;
  bottom: 0;
  background: url(https://rawartsites.neocities.org/img/Footer/footer-bg.webp) no-repeat scroll center 0;
  width: 100%;
  height: 266px;
  overflow: hidden;
  top: 25rem;

}

.cidade {

  background: url(https://rawartsites.neocities.org/img/Footer/volks.gif) no-repeat;
  width: 252px;
  height: 113px;
  left: 0%;
  bottom: 0;
  background-size: 300px;
  position: absolute;
  animation: cidade 10s linear infinite;
  z-index: 100;

}

@keyframes cidade {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

.cidade2 {

  background: url(https://rawartsites.neocities.org/img/Footer/cyclist.gif) no-repeat;
  width: 200px;
  height: 109px;
  left: 0%;
  bottom: 0;
  background-size: 80px;
  animation: cidade2 15s linear infinite;
  position: absolute;

}

@keyframes cidade2 {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

.cidadeinfo {

  color: #b3b3d0;
  width: 1150px;
  margin: 0px auto;
  padding: 228px 0 0 0;
  display: flex;

}

.cidadeinforight {

  position: absolute;
  text-align: right;
  width: inherit;

}

.cidadeinforight p,
.cidadeinforight a {

  color: #b3b3d0;

}


/*texto dentro dos botões de navegação*/
a {
  text-decoration: none;
  color: #fefeff;

}

/*Contato section css -----*/
.contact {
  color: black;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 25rem;
}

/*Redes sociais footer website*/

.icons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  margin: 0 auto;
  gap: 5rem;
}

.icons {
  filter: drop-shadow(0 0 2px #5372f0);
}

.icons a:hover {
  filter: drop-shadow(1px 1px 12px #5372f0);

}

/*Responsivo*/

@media (max-width: 768px) {

  body {
    display: block;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }

  .hamburger {
    display: flex;

  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #006400;
    position: absolute;
    top: 5.5rem;
    left: 0;
    z-index: 2;

  }

  .nav-menu ul {
    
    flex-direction: column;
    width: 100%;
  }

  .nav-menu ul li {
    text-align: center;
    margin: 10px 0;
    position: relative;
    left: 12rem;
  }

  .nav-menu ul li a {
    font-size: 20px;
  }

  .nav-menu.active {
    display: flex;
  }

  .logo {
    width: 70%;
    height: 10%;
    display: block;
    position: relative;
    left: 10%;
    border: none;
    top: 0;

  }

  .logo:hover {
    filter: drop-shadow(0 0 25px aqua);

  }

  /*Video em destaque*/
  video {
    width: 100%;
    height: 100%;
    margin-top: 1px;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    filter: brightness(60%);

  }

  /*Altera o Carousel */
  .card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 10px;
    overflow: hidden;
    margin-bottom: 20px;

  }

  .card-list .card-item {
    list-style: none;

  }

  .card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #211e1e;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;

  }

  .card-list .card-item .card-link:active {
    cursor: grabbing;

  }

  .card-list .card-item .card-link:hover {
    border-color: #5372f0;

  }

  .card-list .card-link .card-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;

  }

  .card-list .card-link .badge {
    color: #5372f0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #2f2f30;
    width: fit-content;
    border-radius: 50px;

  }

  .card-list .card-link .badge.footballone {
    color: #006400;
    background: #f7dff5;

  }

  .card-list .card-link .badge.footballone.bola {

    color: aqua;
    background: #552d55;
  }

  .card-list .card-link .badge.chute {
    color: aqua;
    background: #552d55;

  }

  .card-list .card-link .badge.trave {

    color: #006400;
    background: #f7dff5;

  }

  .card-list .card-link .card-title {
    font-size: 13px;
    color: #eceffe;
    font-weight: 600;

  }

  .card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #5372f0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372f0;
    transform: rotate(-45deg);
    transition: 0.4s ease;

  }

  .card-list .card-link:hover .card-button {
    color: #fff;
    background: #5372f0;

  }

  /*Notícias*/

  .linha-secao {
    display: flex;
    align-items: center;
  }

  .linha-secao::after {
    content: "";
    flex-grow: 1;
    height: 3px;
    background-color: #006400;
    margin-right: 1%;
    left: 27.5rem;
    position: absolute;
    top: 10rem;
  }

  .linha-secao span {
    font-weight: 800;
    font-size: 3rem;
    top: 1;
    left: 6rem;
    position: relative;
    filter: drop-shadow(0 0 2px #006400);

  }

  /*garia img abaixo do noticias*/
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 12rem;
  }

  .gallery-item {
    /* position: relative; */
    width: 300px;
    cursor: pointer;
    margin: 30px;
    text-align: justify;

  }

  .gallery-item img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;

  }

  .gallery-item img:hover {
    transform: scale(1.05);

  }

  /*classe paragrafo*/
  .tdsh {
    font-size: 20px;
    font-weight: 300px;
    white-space: pre-line;
    font-family: "roboto", serif;
    margin-left: -1px;
    cursor: pointer;
    color: #5372f0;
    position: relative;
    top: 10px;
    text-align: center;

  }

  .tdsh:hover {

    color: #224df6;
  }

  #myModal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;

  }

  .modal-content {
    background-color: #151313;
    margin: 140vw auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    max-width: 600px;
    border-radius: 8px;
    text-align: center;

  }

  #modal-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: -5px;

  }

  #modal-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #5372f0;
    color: white;
    border-radius: 5px;
    text-decoration: none;

  }

  #modal-link:hover {
    background-color: #224df6;

  }

  .fecha-modal {
    font-size: 28px;
    float: right;
    color: #aaa;
    font-weight: bold;

  }

  .fecha-modal:hover,
  .fecha-modal :focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

  }

  /* Modal Photos*/
  .modal-photo {
    display: none;
    position: fixed;
    z-index: 12;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal-content-photo {
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
  }

  .close-photo {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }

  #captionPhoto {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;

  }

  #additionalText {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
  }

  /*Galeria foto Campos*/

  .gallery-photo .thumbnail {
    --rotate: rotate(-60deg);
    transform: var(--rotate);
    Transition: 3s ease;
    width: 20rem;
    border-radius: 2rem;
    position: relative;
    left: 0;
    position: relative;
    right: 1000rem;
    top: 8%;
    margin-top: 70%;
    margin-left: 35px;
    display: flex;
    cursor: pointer;
  }

  .gallery-photo .thumbnail:hover {
    transform: var(--rotate) scale(1.1);

  }

  .gallery-photo .thumbnail {
    animation: clickAnimation 1s ease;
    z-index: 1;

  }

  .gallery-photo .thumbnail {
    animation: close 1.5s ease forwards;

  }

  /*Carrosel Videos*/

  .carousel {
    width: 90%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 14rem;
    align-items: center;
    left: 1.1rem;

  }

  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }

  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #282222;
    text-align: center;

  }

  .video-title {
    font-weight: bold;
    margin: 10px 0;
    color: #5372f0;
    font-family: "Inter", system-ui;

  }

  .video-description {
    margin: 10px 0;
    color: #5372f0;
    font-weight: 700;
  }

  .carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }

  .control-button {
    background-color: #5372f0;
    color: white;
    border: none;
    padding: 10px;
    position: relative;
    top: 15.8rem;
    cursor: pointer;
    border-radius: 5px;
  }

  iframe {
    border-radius: 10px;
    width: 100%;
  }

}

/*media screen dos cards*/

@media screen and (max-width: 768px) {

  .card-wrapper {

    margin: 0 2px 25px;

  }

  .card-wrapper .swiper-slide-button {
    display: none;

  }

}

@media (max-width: 768px) {

  .cidadeinforight {

    position: relative;
    text-align: right;
    width: auto;
    padding: 0 8px;

  }

  .cidadeinfo {

    position: relative;
    width: inherit;
    max-width: fit-content;
    font-size: 12px;
    z-index: 100;

  }

}