

  



/*Barra onde esta o História*/
.Hta {
  background-color: #e4e4e75b;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
}



/* O text escrito História*/
.Hta h2 {
  color: #353434;
  font-size: 30px;
}






.historias {
  display: flex;
  flex-wrap: wrap;
  
}
/*espaçamento e tamanho da img*/ 
.historia {
  width: 600px;
  margin: 10px;
  
  
}

/*alinha a igm ao centro*/
.historia img {
  width: 500px;
  height: 400px;
  display: block;
  margin: auto;
  
}

.historia h3 {
  font-size: 24px;
  margin-top: 10px;
  align-items: center;
  text-align: center;
}

.historia p {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}














